---
import Home from '../icons/Home.astro'
import Music from '../icons/Music.astro'
---
<nav class="NavbarMain">
    <div class="NavbarBackground-Image" />
    <div class="MainMenu">
        <a href='/' class="NavbarMain-buttons Home">
            <Home />
        </a>
        <button class="NavbarMain-buttons Music">
            <Music />
        </button>
    </div>
    <div class="NavbarMenu">
        <div class="Menu-Buttons">
            <a href='/videos' class="NavbarMenu-buttons Videos">
                <h2>VIDEOS</h2>
            </a>
            <a href='/form' class="NavbarMenu-buttons SendDemo">
                <h2 class="Select">SUBIR DEMO</h2>
            </a>
        </div>
    </div>
</nav>