---
import Home from '../icons/Home.astro'
import Music from '../icons/Music.astro'
---
<nav class="NavbarMain">
    <div class="NavbarBackground-Image" />
    <div class="MainMenu">
        <a href='/' aria-label="Home/Inicio" class="NavbarMain-buttons" id="Home">
            <Home />
        </a>
        <button aria-label="Active/Inactive Music" class="NavbarMain-buttons" id="Music">
            <Music />
        </button>
    </div>
    <div class="NavbarMenu">
        <div class="Menu-Buttons">
            <a aria-label="Videos" href='/videos' class="NavbarMenu-buttons">
                <h2 id="Videos">VIDEOS</h2>
            </a>
            <a aria-label="Enviar DEMO/Submit DEMO" href='/form' class="NavbarMenu-buttons">
                <h2 id="Upload">ENVIAR</h2>
            </a>
            <a aria-label="DEMOS Enviadas/Submited DEMOS" href='/demos' class="NavbarMenu-buttons">
                <h2 id="Demos">DEMOS</h2>
            </a>
        </div>
    </div>
    <script src="../scripts/navbar.js"></script>
</nav>