---

---
<aside class="Sidebar">
    <div class="SidebarTop ZnoruxIcon">
        <picture class="ZnoruxIcon-pic">
            <img src="./images/ZnoruxIcon.jpg" class="ZnoruxIcon-img" alt="Znorux" width={40} height={40}/>
        </picture>
    </div>
</aside>