/* Navbar */
.NavbarMain {
    background-repeat: repeat-x;
    background-color: var(--Navbar_BackgroundColor);
    display: flex;
    height: var(--Navbar_Height);
    width: 100%;
}

.NavbarBackground-Image {
    position: absolute;
    width: 100%;
    height: var(--Navbar_Height);
    background-image: url(../assets/images/TopographicMap.png);
    filter: blur(.75px);
    z-index: 0;
}

.NavbarMain-buttons {
    width: 50px;
}

.NavbarMenu-buttons > h2 {
    color: #ffffff;
    margin: 0;
}

.NavbarMain-buttons,
.NavbarMenu-buttons {
    height: var(--Navbar_Height);
    background-color: transparent;
    border: none;
    z-index: 1;
}

.MainMenu,
.NavbarMenu {
    display: flex;
}

.NavbarMenu {
    width: 100%;
}

.Menu-Buttons {
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
}

/* SideBar */

.Sidebar {
    position: absolute;
    top: 0;    
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: #00000090;
    transform: translateX(75%);
    transition: .2s;
}

.Sidebar:hover {
    transform: translateX(0px);
    transition: .2s;
}

.SidebarTop {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

/* Pages */
.Pages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 50px);
    overflow-y: auto;
}

/* Efects Select */

h2.Select {
    color: var(--ColoredText);
}